@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  box-sizing: border-box;
}

.footer-social-link {
  @apply rounded-full  border-[1px] border-gray-500 p-2;
}

.footer-social-icon {
  @apply text-gray-500 hover:text-gray-600;
}

.footPhoneNo {
  z-index: 999;
}

/* .footPhoneNo::before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  left: -20px;
  bottom: -10px;
  border-bottom: 30px solid blue;
  border-left: 30px solid transparent;

  z-index: 1;
} */
/* .footPhoneNo::after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  right: -20px;
  bottom: -10px;
  border-bottom: 20px solid #f39406;
  border-right: 20px solid transparent;
  z-index: 1;
} */
/* .footPhoneNo1::before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  left: -20px;
  bottom: 0px;
  border-top: 30px solid #f39406;
  border-left: 30px solid transparent;
  z-index: -1;
} */

.quickLinkUl {
  list-style-type: square;
  list-style-image: url("https://www.marswebsolution.com/images/list-icon.png");
}

#services {
  background: linear-gradient(
      to bottom,
      rgba(92, 38, 141, 0.7) 0%,
      rgba(67, 137, 162, 0.7) 100%
    ),
    url("https://images.unsplash.com/photo-1471039497385-b6d6ba609f9c?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8YnVpbGRpbmd8ZW58MHx8MHx8fDA%3D")
      no-repeat center;
  background-size: cover;

  background-attachment: fixed;
}

#work {
  background-color: #00b588;
  background-image: url("https://www.transparenttextures.com/patterns/fresh-snow.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.workBox2::before {
  content: "";
  width: 0;
  height: 80%;
  position: absolute;
  left: 5px;
  bottom: 10%;
  border-left: 1px solid gray;
}
.workBox2::after {
  content: "";
  width: 0;
  height: 80%;
  position: absolute;
  right: 5px;
  bottom: 10%;
  border-right: 1px solid gray;
}
.workBox3::before {
  content: "";
  height: 0;
  width: 90%;
  position: absolute;
  right: 5%;
  top: 5px;
  border-top: 1px solid gray;
}
.workBox3::after {
  content: "";
  height: 0;
  width: 90%;
  position: absolute;
  right: 5%;
  bottom: 5px;
  border-bottom: 1px solid gray;
}

/* //---Carousel */
.slide {
  box-shadow: inset 0 0 0 1000px linear-gradient(to right, #550779, #e91e63);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide1 {
  background: linear-gradient(90deg, #721074b9 0%, #10585eb9 100%),
    url("https://images.unsplash.com/photo-1471039497385-b6d6ba609f9c?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8YnVpbGRpbmd8ZW58MHx8MHx8fDA%3D")
      no-repeat center;
  background-size: cover;
}
.slide2 {
  background: linear-gradient(90deg, #721074b9 0%, #10585eb9 100%),
    url("https://images.unsplash.com/photo-1527689368864-3a821dbccc34?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
      no-repeat center;
  background-size: cover;
}
.slide3 {
  background: linear-gradient(90deg, #721074b9 0%, #10585eb9 100%),
    url("https://images.unsplash.com/photo-1521185496955-15097b20c5fe?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fHByb2dyYW1taW5nfGVufDB8fDB8fHww")
      no-repeat center;
  background-size: cover;
}
.slide4 {
  background: linear-gradient(90deg, #721074b9 0%, #10585eb9 100%),
    url("https://images.unsplash.com/photo-1605379399642-870262d3d051?q=80&w=1506&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
      no-repeat center;
  background-size: cover;
}

.linkGridItem {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.4) 37%,
    rgba(0, 0, 0, 0.4) 46%,
    rgba(0, 0, 0, 0) 100%
  );
}
